@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Intern!</h1>
<h3>Willkommen! Im Privaten Bereich</h3>

<p>Hier kannst du deine persönlichen Daten und Einstellungen verwalten.</p>
<p>Du bist seit @ViewBag.SessionInhalt angemeldet</p>

<a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Zurück zur Startseite</a>

<a class="btn btn-secondary" asp-controller="Home" asp-action="Logout">Logout</a>
